<!-- NgModel DIRECTIVE:
    -- Adding the ngModel directive as an attribute registers the input with as a form control, using the value of the name attribute as its identifier
    -- Assign local references for control elements (#email) a value of 'ngModel' to tell Angular to reference the control object created by Angular, rather than the native HTML element
    -- Use property binding with [ngModel] to assign a default value to a control
    -- Use two-way property binding with [(ngModel)] to assign a default value and instantly update a value to be used somewhere as the value changes
 -->
<!-- NgModelGroup DIRECTIVE
    -- group related controls in the ngForm object by adding ngModelGroup attribute to a container wrapping the controls to be grouped
    -- assign the attribute a string value representing the key in the form object values which holds the individual values for each control in the group
    -- can use a local ref with a value of 'ngModelGroup' (to reference the object created by Angular instead of the native HTML element) to read property values of the group
-->
<!-- TO RECEIVE FORM OBJECT CREATED BY ANGULAR:
      OPTION 1: PASS TO EVENT HANDLER
      -- bind (ngSubmit) event from the ngSubmit directive to the <form> element
      -- assign a local ref (#f) to the <form> and assign it the value 'ngForm' to tell angular to reference the ngForm object rather than the HTMLFormElement
      -- pass the ngForm local ref as the argument to the (ngSubmit) event handler
      OPTION 2: @ViewChild DECORATOR
      -- instead of passing local ref #f to (ngSubmit) event handler, use @ViewChild('f') to assign local ref to a property in app
      -- particularly useful when you need access to the form data prior to submission
      -- see onSubmit() method in TS file
-->
<!-- VALIDATION:
    -- required: a normal HTML attribute for an input, but Angular recognizes it as a selector for the RequiredValidator directive, so it can determine validity of the input
    -- email: selector for Angular's EmailValidator directive that ensures the input is in the format of an email address
    -- ngNativeValidate: add to a control to use HTML5 validation instead, which Angular disables by default
    -- can disable the submit button by binding [disabled] property and using the form's local ref (f) to disable the button if the form's 'valid' property is false
    -- Additional References: https://angular.io/api/forms/Validators; https://angular.io/api?type=directive
 -->
<!-- STYLING:
    -- Angular adds CSS classes to the form elements on the DOM based on certain property values of the form object compiled by Angular
    -- use these selectors to dynamically style the elements based on the form state
    -- see CSS file
 -->
<!-- SETTING AND PATCHING FORM VALUES:
    -- use a local ref on the form element (#f) and @ViewChild to assign the ngForm object reference to a property (signupForm)
    -- use setValue() and pass a JS object mirroring the values object on the ngForm in order to set/change values for the entire form
    -- in most cases, instead access the form property on the ngForm and call the patchValue() method and pass a JS object with only the form values you want to set/change
-->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required
            />
          </div>
          <button
            class="btn btn-default"
            type="button"
            (click)="suggestUserName()"
          >
            Suggest an Username
          </button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel"
            />
            <span class="help-block" *ngIf="!email.valid && email.touched"
              >Please enter a valid email!</span
            >
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User Data is invalid!</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            class="form-control"
            name="questionAnswer"
            rows="3"
            [(ngModel)]="answer"
          ></textarea>
        </div>
        <p>Your reply: {{ answer }}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="gender"
              ngModel
              [value]="gender"
              required
            />
            {{ gender }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
          Submit
        </button>
      </form>
      <hr />
      <div class="row" *ngIf="submitted">
        <div class="col-xs-12">
          <h3>Your Data</h3>
          <p>Username: {{ user.username }}</p>
          <p>Mail: {{ user.email }}</p>
          <p>Secret Question: {{ user.secretQuestion }}</p>
          <p>Answer: {{ user.answer }}</p>
          <p>Gender: {{ user.gender }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
