<!-- Adding the ngModel directive registers the input with as a form control, using the value of the name attribute as its identifier -->
<!-- To get the form object put together by angular:
      OPTION 1: PASS TO EVENT HANDLER
      -- bind (ngSubmit) event from the ngSubmit directive to the <form> element
      -- assign a local ref (#f) to the <form> and assign it the value 'ngForm' to tell angular to reference the ngForm object rather than the HTMLFormElement
      -- pass the ngForm local ref as the argument to the (ngSubmit) event handler
      OPTION 2: @ViewChild DECORATOR
      -- instead of passing local ref #f to (ngSubmit) event handler, use @ViewChild('f') to assign local ref to a property in app
      -- particularly useful when you need access to the form data prior to submission
-->
<!-- 
  VALIDATION:
    -- required: a normal HTML attribute for an input, but Angular recognizes it as a selector for the RequiredValidator directive, so it can determine validity of the input
    -- email: selector for Angular's EmailValidator directive that ensures the input is in the format of an email address
    -- ngNativeValidate: add to a control to use HTML5 validation instead, which Angular disables by default
    -- Additional References: https://angular.io/api/forms/Validators; https://angular.io/api?type=directive
 -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required
            />
          </div>
          <button class="btn btn-default" type="button">
            Suggest an Username
          </button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
            />
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" ngModel name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
